.bodybasic {
	background-color: #ffffff !important;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 60px;
	padding-bottom: 50px;
}

.bodybasic2 {
	background-color: #d9b48e;
	margin-right: -14px;
	margin-left: -14px;
	margin-bottom: -20px;
}

.bodybasic3 {
	background-color: #d9b48e;
	margin-right: -15px;
	margin-left: -15px;
}

.bodybasic4 {
	background-color: #ffffff;
	margin-right: 185px;
	margin-left: 15px;
	padding-top: 60px;
}

.navbar {
	font-weight: bold;
	color: #0033CC;
	text-decoration: none;
}

.sigmar {
	color: #663300;
	font-weight: bold;
	font-size: 4em;
	font-style: italic;
	font-family: chewy, sigmar one, georgia, sans-serif;
}

.sigmar1 {
	color: #000000;
	font-size: 1.4em;
	font-style: oblique;
	font-family: chewy, sigmar one, georgia, sans-serif;
}

.sigmar2 {
	color: #663300 ;
	font-size: 1.4em;
	font-family: sigmar one, georgia, sans-serif;
}

.sigmar3 {
	color: #ffffff;
	font-size: 1em;
	font-family: sans-serif;
}

.sigmar4 {
	color: #000000;
	font-size: 1em;
	font-family: sans-serif;
}

.sigmar5 {
	color: #AAB89C !important;
	font-weight: bold;
	font-size: 1.4em;
	font-style: italic;
	font-family: sans-serif;
}

.sigmar6 {
	color: #ffffff;
	font-weight: bold;
	font-size: 1.2em;
    font-family: sans-serif;
    text-align: left;
    padding-bottom:-150px;
}


.navlink {
	font-weight: bold;
	color: #ffffff;
	/* color: #336699; */
	text-decoration: none;
}

.navlink1{
	font-weight: bold;
	color: #000000;
	/* color: #336699; */
	text-decoration: none;
}

.ui.inverted.darkbrown.menu {
	background-color: #663300!important;
	color: #000000 !important;
}

.ui.lightgreen.segment {
	background-color: #bdccad !important;
	color: #000000 !important;
}

.ui.lightbrown.button {
	background-color: #d9b48e !important;
	color: #000000 !important;
}

.darkbrown.bar {
	background-color: #AAB89C !important;
	color: #000000 !important;
}

.ui.button {
	display: table;
	margin: 0 auto;
}

.ui.floating.error {
	width: 87.5%;
}

.ui.floating1.error {
	width: 64%;
}

.default.text {
	color: #000000 !important;
}

.lightgreen.head {
	background-color: #AAB89C !important;
	color: #000000 !important;
}

#notification {
	color:  #AAB89C!important;
	font-weight: bold;
	font-size: 1.4em;
	font-style: italic;
	font-family: sans-serif;
	padding-top: 100px;
	text-align: center;
}
