<section class="ui segment">
	<h2 class="ui header">
		<i class="ui users icon"></i> My Tweet Friends
	</h2>
	<div class="ui list">
		#{list items:tweeter.friendships, as:'friendship'}
		<div class="item">
			${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a>
			<a class="mini ui button"
				href="/home/drop/${friendship.targetUser.id}"> Drop </a>
		</div>
	</div>

	#{/list}
	</div>
</section>


