<section class="ui raised segment">
 <div class="bodybasic3">
   <div class="ui centered grid">
  
     <div class="ui ten wide column fluid form">
      <div class="ui center aligned segment">
        <form action="/authenticate" method="POST">
          <h3 class="sigmar2">Log-in</h3>
          <div class="field">
            <label>Email</label> <input placeholder="Email" type="text"
              name="email">
          </div>
          <div class="field">
            <label>Password</label> <input placeholder="Password" type="password" name="password">
          </div>
          <button class="ui lightbrown submit button">Login</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>