<section class="ui segment">
	<h2 class="ui header">
		<i class="ui users icon"></i> MyTweet Members
	</h2>
	<div class="ui list">
		#{list items:tweeters, as:'tweeter'}
		<div class="item">
			<i class=" blue user icon"></i>
			<div class="content">
				${tweeter.firstName} ${tweeter.lastName} 
				<a class="ui mini button" href="/members/follow/${tweeter.id}"> Add Friend </a>
			</div>
		</div>
		#{/list}
	</div>
</section>


