		<div class="ui column">
		 <div class="bodybasic2">
			<div class="ui horizontal segment">

				<h2 class="sigmar2">
				<i>Write your new tweet here:</i>
				</h2>
				<section class="ui form segment">
					<form action="/newtweet" method="POST">
						<div class="field">
							<label>New Tweet:</label> <input
								placeholder="What's going on..." type="text" name="message">
						</div>
						<button class="ui lightbrown submit button">Tweet</button>
						</section>
				</div>

			</form>

		</div>
		</div>