<section class="ui raised segment">
	<div class="ui grid">
		<article class="eight wide column">
			<section class="ui segment">
				#{list items:tweets, as:'tweet'}
				<div class="ui list">
					<div class="ui item">
					<b>${tweet.tweeter.firstName} </b> tweeted:  <b> ${tweet.editStatus}</b> at ${tweet.datestamp}</div>
				</div>
				#{/list}
			</section>
		</article>
	</div>
</section>