<div class="bodybasic">
<nav class="ui inverted darkbrown menu">
  <header class="header item"> <a href="/"> MyTweet </a> </header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup</a>
    <a class="item" href="/login">  Login</a>
  </div>
</nav>
</div>