<section class="ui stacked segment">

<div class="six wide center aligned column" style="padding-top: 60px">
    <img class="ui medium centered birdie picture image"
      src="/public/images/brownie.png">
  </div>
</section>



<section class="ui stacked segment">
 <div class="bodybasic2">
  <div class="ui centered grid">
    <article class="sixteen wide ceneter aligned column">
      <h1 class="sigmar"> Welcome to MyTweet  </h1>
      <h3 class="sigmar1"> Tweet anything you wish! </h3>
    </article>
  </div>
  </div>
</section>

<script src="@{'/public/javascripts/welcome.js'}"></script>
</div>