#{extends 'main.html' /} 
#{set title:'New Tweet' /} 

<div class="bodybasic">
<nav class="ui inverted darkbrown menu">
  <div class="right menu">
    <a class="active item" href="/sendtweet"> Send a Tweet</a>
    <a class="item" href="/mytweets"> My Tweets </a>
    <a class="item" href="/friends"> Friends </a>
    <a class="item" href="/members"> Members</a>
    <a class="item" href="/timeline">  Timeline</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>   
</div> 

#{include "segments/newtweet.html" /} 