#{extends 'main.html' /} 
#{set title:'MyTweet Members' /} 

<div class="bodybasic">
<nav class="ui inverted darkbrown menu">
  <div class="right menu">
    <a class="item" href="/sendtweet"> Send a Tweet</a>
    <a class="item" href="/friends"> Friends </a>
    <a class="active item" href="/members"> Members</a>
    <a class="item" href="/timeline">  Timeline</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>    
</div>

#{include "segments/members.html" /} 